body {
  background-color: aliceblue;
  margin: 20px;
  font-family: sans-serif;
}

h1 {
  font-size: 66px;
}

.landing__section-addScore {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
  position: sticky;
  top: 0;
  right: 0;
}

.landing__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.landing__section-recentScores {
  width: 50%;
}

input {
  width: 300px;
  padding: 10px 15px;
}

.landing__section-addScore-button {
  width: fit-content;
  padding: 5px 10px;
  align-self: flex-end;
}

.landing__section-recentScores-flex {
  display: flex;
  gap: 100px;
  align-items: center;
}

.landing__section-recentScores-button,
.landing__section-addScore-button {
  padding: 5px 10px;
  background-color: aqua;
  border-radius: 6px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 185px;
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(113, 110, 110);
  margin: 5px;
  transition: all 0.4s;
}

.table:hover .table-row {
  transform: scale(1.1);
}

.table:hover .table-row:not(:hover) {
  transform: scale(0.9);
}

.user,
.score {
  font-size: 16px;
  font-family: sans-serif;
}
